* {
  margin: 0;
  padding: 0;
  /* The default value is content-box. The difference is
     border-box subtracts its border value and/or padding
     value if specified from the elements total width

     border-box example: 
     100 width - 5 border - 5 padding = 80 width
     content-box example: 
     100 width + 5 border + 5 padding = 120 width
  */
  box-sizing: border-box;
}

h1 {
  height: 60px;
  text-align: center;
  padding: 15px 0;
  background-color: #fdcb6e;
}

main {
  height: 300px;
  overflow-y: scroll;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;

  gap: 10px;

  margin: 15px;
}

figure {
  flex-basis: 200px;
  /* flex-grow: 1; */

  padding: 10px;
  border: 3px solid black;
  background-color: #ffeaa7;
}

blockquote {
  margin-bottom: 10px;
}

#quote-submission-box {
  margin: 0 10px;
}

form {
  max-width: 450px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  height: 100px;
}

textarea,
input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
}

input {
  width: 100px;
  font-weight: bold;
}

@media (min-width: 859px) {
  main {
    height: 250px;
  }
  figure {
    flex-basis: 400px;
  }
}

@media (max-width: 858px) {
  main {
    height: 200px;
  }
}
